md-toolbar {
    padding: 5px;
    display: flex;
    /*align-items: flex-start;*/
}
md-toolbar.nav{
    align-items: flex-end;
}
section.bg {
    background: url('/images/breakfast.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
a, a:active, a:visited  {
    color:inherit;
}

.content {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 5px;
}
.full-containter {
    height: 100vh;
}
.center {
    margin: 0 auto;
}
.logo {
    text-decoration: none;
    color: white;
}
.flex-container {
    flex-wrap: wrap;
}
#signup {
    /*align-items: center;*/
    border-radius: 8px;
    overflow: hidden;
    /*margin: 50px auto;*/
}

*[class*='md-whiteframe'] {
    border-radius: 8px;
    padding: 8px;
    margin: 5px;
}
