body {
    background-color: #eee;
}
md-toolbar {
    padding: 5px;
    display: flex;
    /*align-items: flex-start;*/
}
md-toolbar.nav{
    align-items: flex-end;
}
section.bg {
    background: url('/images/breakfast.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
a, a:active, a:visited  {
    color:inherit;
}

.content {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 5px;
    background-color: rgba(0,0,0,0);
}
.full-containter {
    height: 100vh;
}
.center {
    margin: 0 auto;
}
.logo {
    text-decoration: none;
    color: white;
}
.link {
    cursor: pointer;
}
.flex-container {
    flex-wrap: wrap;
}
#signup {
    border-radius: 8px;
    overflow: hidden;
    background-color: white;
    box-shadow: 0 5px 5px rgba(0,0,0, .5);
}
#signup h1 {
    margin: 10px;
    font-size: 1.5em;
}

*[class*='md-whiteframe'] {
    border-radius: 8px;
    padding: 8px;
    margin: 5px;
    background-color: white;
}
