<div class="content">
    <div class="md-headline">
        {{listItem.name}}
    </div>
    <div class="md-heading">Select the food from USDA that best matches:</div>

    <div ng-if="!data.length">
        Sorry... no results.<br />
        <button class="md-button" ng-click="$mdDialog.hide()">Close</button>
    </div>

    <form ng-submit="saveFood()" ng-if="data.length" layout="column">
        <md-input-container>
            <md-select ng-model="listItem.ndb_no" aria-label="Options">
                <md-option ng-repeat="result in data" ng-value="result.ndb_no" flex="100">{{result.long_desc}}</md-option>
            </md-select>
        </md-input-container><br />
        <input class="md-button" type="submit" value="Select">
    </form>
</div>
