<button ng-click="logout()">logout</button>
<section id="profile">
    <h1>{{header}}</h1>
    <div id="list-list" ng-show="show == 'lists'">
        Lists:
        <ul>
            <li><a href="#" ng-click="show = 'new list'">New List</a></li>
            <li ng-repeat="list in lists">
                <span ng-click="getList(list.id)">{{list.name}}</span> <a href="#" ng-if="list.type !=='inventory'" ng-click="deleteList(list.id)">x</a>
            </li>
        </ul>
    </div>

    <div id="list" ng-show="show == 'list'">
        <a href="#" ng-click="show = 'lists'">X</a><br />
        Current List:
        {{list.name}}<br />
        {{list.description}}
        <form ng-submit="addListItem()">
            <input type="text" ng-model="newListItem.name" placeholder="name">
            <input type="text" ng-model="newListItem.desc" placeholder="description">
            <input type="number" ng-model="newListItem.qty" placeholder="quantity">
            <input type="text" ng-model="newListItem.notes" placeholder="notes">
            <input type="submit">
        </form>
        <ul>
            <li class="items" ng-repeat="item in list.items">
                {{item.qty}} - {{item.name}} <a href="#" ng-click="deleteListItem(item.id)">x</a>
            </li>
        </ul>
    </div>

    <div id="new-list" ng-show="show == 'new list'">
        <a href="#" ng-click="show = 'lists'">X</a><br />
        <form ng-submit="addList()">
            <input type="text" ng-model="newList.name" placeholder="name">
            <input type="text" ng-model="newList.desc" placeholder="description">
            <input type="submit">
        </form>
    </div>
</section>
