<div id="list">
    <a href="#/lists">All Lists</a><br />
    Current List:
    {{list.name}}<br />
    {{list.description}}
    <form ng-submit="addListItem()">
        <input type="text" ng-model="newListItem.name" placeholder="name">
        <input type="text" ng-model="newListItem.desc" placeholder="description">
        <input type="number" ng-model="newListItem.qty" placeholder="quantity">
        <input type="text" ng-model="newListItem.notes" placeholder="notes">
        <input type="submit">
    </form>
    <ul>
        <li class="items" ng-repeat="item in list.items">
            {{item.qty}} - <span ng-click="findFood(item)">{{item.name}}</span>
            <span ng-click="delete(item.id, $index)">x</span>
        </li>
        <div ng-if="results">
            Select the food from USDA that best matches:
            Your input: {{listItem.name}}
            <form ng-submit="saveFood()">

                <input type="submit" value="Select">
                <select ng-model="listItem.ndb_no">
                    <option ng-repeat="result in results" value="{{result.ndb_no}}">
                        {{result.long_desc}}
                    </option>
                </select>
            </form>
        </div>
        <div ng-if="nutrients">
            USDA info on {{listItem.name}}.<br />

        </div>
        <button ng-click="purchased = !purchased">Purchased</button>
        <button ng-show="purchased" ng-click="moveToInventory()">Move to inventory</button>
    </ul>
</div>
