
<md-toolbar>{{title}} Log In</md-toolbar>

<div class="content">

    <form ng-submit="login()">
        <md-input-container>
            <label>Username</label>
            <input type="text" ng-model="credentials.username" md-autofocus>
        </md-input-container><br />
        <md-input-container>
            <label>Password</label>
            <input type="password" ng-model="credentials.password">
        </md-input-container>

        <md-dialog-actions layout="row">

            <span flex></span>
            <button type="submit" class="md-button md-raised">
                Submit
            </button>
        </md-dialog-actions>
    </form>
</div>
