<div id="new-list">
    <div class="content">

        <div class="md-headline">New List</div><span flex></span>

        <form ng-submit="addList()">
            <md-input-container layout="row">
                <label>List name</label>
                <input type="text" ng-model="newList.name">
            </md-input-container>
            <md-input-container layout="row">
                <label>Description</label>
                <input type="text" ng-model="newList.desc">
            </md-input-container>
            <md-input-container layout="row">
                <md-select ng-model="newList.account_id" aria-label="Your or Team List" flex>
                    <md-option value="{{user.id}}" selected>Your Lists</md-option>
                    <md-option ng-if="user.team_id" value="{{user.team_id}}">Team Lists</md-option>
                </md-select>
            </md-input-container>
            <md-input-container layout="row">
                <span flex></span>
                <button class="md-button md-accent md-raised" type="submit" aria-label="Add list">Add List</button>
            </md-input-container>
        </form>
    </div>
</div>
