<div class="contents">

    <md-toolbar md-scroll-shrink>
        <div class="md-toolbar-tools">
            <h1 class="md-flex">{{listItem.name}}</h1>
            <span flex></span>
            <md-icon md-svg-src="images/svg/x.svg" alt="Close" ng-click="closeModal()"></md-icon>
        </div>
    </md-toolbar>
    <md-content flex layout-padding>
        USDA Nutrient Database:<br />
        <div ng-repeat="nutrient in data">
            <b>{{nutrient.nutrdesc}}</b> - {{nutrient.nutr_val}}{{nutrient.units}}
        </div>
    </md-content>
</div>
